.contactUs-main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 20px;
  font-family: 'Poppins', sans-serif;
}

.contactUs-left {
  flex: 1;
  margin-right: 40px;
}

.contactUs-right {
  flex: 1;
  text-align: center;
}

.contactUs-image {
  max-width: 80%; /* Reduce the width to 80% of its container */
  height: auto; /* Maintain the aspect ratio */
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 0.3s ease;
}

.contactUs-image:hover {
  transform: scale(1.05);
}


.contact-intro {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #666;
}

.contact-item {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-item.active {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-header h3 {
  font-size: 1.5rem;
  margin: 0;
  color: #333;
}

.contact-title {
  font-size: 1rem;
  color: #888;
}

.contact-details {
  margin-top: 10px;
  animation: fadeIn 0.5s ease;
}

.mail-links {
  color: #3498db;
  text-decoration: none;
  font-weight: 500;
}

.mail-links:hover {
  text-decoration: underline;
}

.fa {
  margin-right: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
